name: build

on: [workflow_dispatch]

jobs:
  live-deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        
      - name: Setup Java JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: 'temurin'

      - name: Grant execute permission for gradlew
        run: cd pocketpt && chmod +x ./gradlew
        shell: bash
      
      - name: Build with Gradle
        run: cd pocketpt && ./gradlew build
        shell: bash

      - name: Make zip file
        run: zip -qq -r ./$GITHUB_SHA.zip ./pocketpt/build/libs/* appspec.yml deploy.sh
        shell: bash
            
      - name: save report as pipeline artifact
        uses: actions/upload-artifact@v3
        with:
          name: $GITHUB_SHA.zip
          path: .
